*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.font-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}

/* ======================== 
    Common CSS Start
=========================*/

a{
    text-decoration: none;
}
.btn{
    background-color: #FD6E0A;
    border: none;
    padding: 18px 35px;
    border-radius: 5px;
    font-weight: bold;
    color: white;
    font-size: 20px;
    cursor: pointer;
}

.section-heading{
    max-width: 827px;
    text-align: center;
    margin: 0 auto;
}

.section-heading h2{
    font-size: 35px;
    margin-bottom: 30px;
}

.section-heading p{
    font-size: 18px;
    margin-bottom: 30px;
    line-height: 30px;
    color: #757575;
}
/* =======================
    Common CSS End 
=========================*/
.logo h2{
    font-size: 45px;
    font-weight: bold;
}

.color-orange{
    color: #FD6E0A;
}

header{
    background-color: #FFF8F3;
    padding-top: 50px;
    background: url(../images/developer.png) , url(../images/header_bg.png), #FFF8F3;
    background-position: top left, bottom right;
    background-repeat: no-repeat;
}

/* ==== Nav-bar Start ==== */

nav{
    width: 77%;
    max-width: 1140px;

    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .menu{
    display: flex;
    list-style: none;
    gap: 51px;
    align-items: center;
}

nav .menu a{
    font-size: 20px;
    color: #474747;
}


/* ==== Nav-bar End ==== */

/* ====== banner Start ========*/

#banner{
    /* border: 1px solid red; */
    margin: 46px 38px 0 230px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#banner .banner-content{
    max-width: 585px;
}


#banner .banner-content h2{
    font-size: 45px;
    font-weight: 600px;
    margin-bottom: 5px;
    color:#474747;
}
#banner .banner-content h1{
    font-size: 85px;
    font-weight: bold;
    color: #181818;
    margin-bottom: 20px;
}

#banner .banner-content p{
    font-size: 18px;
    color: #757575;
    line-height: 30px;
    margin-bottom: 30px;
}

#banner .banner-image img{
    max-width: 585px;
    vertical-align: middle;
}
/* ============ banner end ============*/
/* =================================== */


/* ============================== 
        About Section Start
 ============================== */
 
    #about{
        padding-top: 130px;
    }

    #about .about-container{
        width: 77%;
        max-width: 1140px;
        margin: 0 auto;
        text-align: center;
        background-color: #FFF8F3;
        padding: 131px 157px;
    }

    #about .about-container .about-info{
        display: flex;
        justify-content: space-around;
    }

    .about-info .info-card p{
        font-size: 20px;

    line-height: 30px;
    color: #757575;
    }
    .about-info .info-card h4{
        font-size: 20px;
    }
 /* ============================== 
         About Section End
  ============================== */



 /* ============================== 
         Skills Section Start
  ============================== */

  #skills{
    padding-top: 130px;
  }

  #skills .skills-container{
    width: 77%;
    max-width: 1140px;
    margin: 0 auto;
  }

  #skills .skills-container .skills-box{
    display: flex;
    gap: 24px;
  }
  .skills-box .skill-card{
    padding: 30px;
    max-width: 267px;
    box-shadow: 0 6px 50px 0 #00000015;
    border-radius: 5px;
  }
.skill-card img{
    max-width: 44px;
    margin-bottom: 30px;
}

.skill-card h3{
    font-size: 20px;
    color: #181818;
    margin-bottom: 20px;
}
.skill-card p{
    font-size: 16px;
    color: #181818;
    line-height: 28px;
    color: #757575;
}

 /* ============================== 
         Skills Section End
  ============================== */


 /* ============================== 
         Resume Section Start
  ============================== */


  
 /* ============================== 
         Resume Section ENd
  ============================== */
